<h1><%= @doctor.name() %>'s patients:</h1>

<ul class="list-group well">
  <% @doctor.patients().each() do |patient| %>
  <li class="list-group-item">Name: <%= patient.name()%> - Birth Date: <%= patient.birth_date() %></li>
  <% end %>
</ul>

<div class="btn-group" role="group">
  <a href="/specialties/<%= @specialty.id() %>/doctor/<%= @doctor.id() %>/patient/new" class="btn btn-primary" role="button">Add Patient</a>
  <a href="/specialties/<%= @specialty.id() %>" class="btn btn-default" role="button">Back</a>
</div><br>
